* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(0, 27, 91, 1);
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

.fw500 {
    font-weight: 500;
}

.btn {
    background-color: #FF0000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;
}

.btn:hover {
    background-color: #9C0000;
}

.container {
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 30px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 15px 0;
}

.header__icon {
    max-width: 24px;
}

.header__icon_lence {
    max-width: 32px;
}

.header__top {
    padding-bottom: 15px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-top__item img {
    margin-right: 10px;
}

.header-top__item:first-child {
    flex-basis: 160px;
}

.header-top__item:nth-child(2) {
    flex-basis: 100px;
}

.header-top__item:nth-child(3) {
    flex-basis: 265px;
}

.header-top__item:nth-child(4) {
    flex-basis: 190px;
}

.header-top__item:nth-child(5) {
    flex-basis: 165px;
}


.header-top__item_social {
    font-size: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.header-top__item_geo {
    display: flex;
    align-items: center;
}

.header-top__link {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 27, 91, 1);
}

.header-top__link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: rgba(0, 27, 91, 1);
    opacity: .7;
    transition: all .3s;

}

.header-top__link:hover::after {
    width: 100%;
}

.header-top__link_phone p {
    display: flex;
    flex-direction: column;
}

.header-top__link_phone p span:first-child {
    font-size: 10px;
    margin-bottom: 5px;
}

.header-top__link_phone p span:last-child {
    font-size: 15px;
    font-weight: 500;
}

.header-top__item_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:1290px) {
    .header-top__item_geo {
        display: none;
    }
}

@media(max-width:1023px) {
    .header-top__item_mail {
        display: none;
    }
}

@media(max-width:950px) {}

.header__nav {
    border-top: 1px solid #6694ff72;
}

.nav__ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.nav__li {
    width: 100%;
    text-align: center;
}

.nav__ul a {
    text-decoration: none;
}

.nav__ul span {
    display: block;
    width: 100%;
    text-transform: uppercase;
    padding: 10px 0 15px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border-top: 3px solid transparent;
    transition: all .7s;
    color: rgba(0, 27, 91, .7)
}

.nav__sub-ul {
    text-align: center;
    margin-top: -10px;
    border-bottom: 2px solid rgba(0, 27, 91, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 0;
    transform: scaleX(0);
    transition: all .2s;
}

.nav__li:hover .nav__sub-ul {
    transform: scaleX(100%);
    height: 100%;
    box-shadow: 6px 0 4px -4px rgba(34, 34, 34, 0.144), -6px 0 4px -4px rgba(34, 34, 34, 0.144);
    -moz-box-shadow: 6px 0 4px -4px rgba(34, 34, 34, 0.144), -6px 0 4px -4px rgba(34, 34, 34, 0.144);
    -webkit-box-shadow: 6px 0 4px -4px rgba(34, 34, 34, 0.144), -6px 0 4px -4px rgba(34, 34, 34, 0.144);
}


.nav__li:hover span {
    border-top-color: #6695FF;
    box-shadow: 6px 0 4px -4px rgba(34, 34, 34, 0.144), -6px 0 4px -4px rgba(34, 34, 34, 0.144);
    -moz-box-shadow: 6px 0 4px -4px rgba(34, 34, 34, 0.144), -6px 0 4px -4px rgba(34, 34, 34, 0.144);
    -webkit-box-shadow: 6px 0 4px -4px rgba(34, 34, 34, 0.144), -6px 0 4px -4px rgba(34, 34, 34, 0.144);

}

.nav__ul span:hover+.nav__sub-ul {
    display: block;
    height: 100%;
    transform: scaleX(100%);
}


.nav__sub-li a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;
    color: rgba(0, 27, 91, 1);
}


.nav__sub-li:last-child a {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav__sub-li:not(:first-child) {
    border-top: 1px solid rgba(204, 204, 204, 0.3)
}


.nav__sub-li:hover a {
    background-color: #6695FF;
    color: #fff;
    cursor: pointer;
}

.header-top__item_social-mob {
    display: none;
}

.nav__li_social {
    display: none;
}

@media(max-width:945px) {
    .header {
        overflow-y: auto;
    }

    .nav__li_social {
        display: block;
    }

    .header-top {
        flex-direction: row-reverse;
        margin-left: 50px;
    }

    .nav__ul {
        position: fixed;
        overflow-y: auto;
        flex-direction: column;
        left: -100%;
        transition: all .3s;
    }

    .menu_active {
        right: 0;
        left: 0;
    }

    .header__body {
        position: relative;
    }

    .header__burger {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-100%);
        z-index: 1100;
        left: 0;
        width: 25px;
        transition: all .3s;
    }

    .header__burger span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: #6695FF;
        border-radius: 5px;
    }

    .header__burger span:not(first-child) {
        margin-top: 3px;
    }

    .burger_active span {
        transition: all .3s;
    }

    .burger_active span:nth-child(1) {
        transform: rotate(-45deg);
    }

    .burger_active span:nth-child(2) {
        display: none;
    }

    .burger_active span:nth-child(3) {
        transform: rotate(45deg) translate(-4px, -4px);
    }


    .nav__ul span {
        padding: 20px 0;
        padding-left: 30px;
        text-align: left;
    }

    .nav__sub-ul {
        transform: scale(100%, 0);
        border-radius: 0;
    }

    .header-top__item_social-mob {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        margin-top: 15px;
    }

    .header-top__item_social-mob img {
        width: 42px;
        height: 42px;
        max-width: 42px;
    }

}


@media(max-width:815px) {
    .header-top__item_social {
        display: none;
    }
}

@media(max-width:700px) {
    .header-top__link_phone {
        display: none;
    }

    .header-top__item:first-child {
        flex-basis: auto;
    }

    .header__logo {
        max-width: 120px;
        display: block;
    }

    .header__btn {
        display: none;
    }

    .header__btn_active {
        display: block;
    }

    .header__icon_lence {
        width: 48px;
    }

    .header__logo_active {
        display: none;
    }

    .header-top__item:nth-child(5) {
        flex-basis: auto;
    }

    .header__logo_active+.header-top__item_btn {
        margin-left: auto;
    }

    .burder_active+.header-top .header__icon_lence {
        display: none;
    }

    .header-top__item_btn_active {
        margin-left: auto;
    }
}